In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

port_waiting_df_improve_plus = pd.read_pickle('port_waiting_df_improve_plus.pkl') 
working_vessel_cnt_mean_improve = pd.read_pickle('working_vessel_cnt_mean_improve.pkl')

In [2]:
port_waiting_df_improve.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53371 entries, 0 to 53370
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PORT_CD       53371 non-null  object
 1   VSL_ID        53371 non-null  object
 2   ATA_DT        53371 non-null  datetime64[ns]
 3   ATB_DT        53371 non-null  datetime64[ns]
 4   ATD_DT        53371 non-null  datetime64[ns]
 5   SHIP_TYPE     53371 non-null  object
 6   working_time  53371 non-null  timedelta64[ns]
dtypes: datetime64[ns](3), object(3), timedelta64[ns](1)
memory usage: 2.9+ MB

In [11]:
port_waiting_df_improve = port_waiting_df_improve[['PORT_CD', 'VSL_ID', 'ATA_DT', 'ATB_DT', 'ATD_DT', 'SHIP_TYPE', 'working_time']]

In [121]:
# ì‘ì—…ê³¼ ëŒ€ê¸° ì¤‘ì¸ ì„ ë°•ì€ ë”°ë¡œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ 
def show_me_the_vessel_count(port_name, date):
    # ì „ë‹¬ë°›ì€ port: ë°ì´í„°í”„ë ˆì„ ìƒì„±
    target_port_df = port_waiting_df_improve[port_waiting_df_improve['PORT_CD']==port_name]
    
    # ì „ë‹¬ë°›ì€ date: string to datetime type ë³€í™˜
    target_time = pd.to_datetime(date)

    # 
    finding_waiting_df = target_port_df[(target_port_df['ATA_DT'] < target_time) & (target_port_df['ATB_DT'] > target_time)]

    ship_list=[] # ì„ ë°•ì¢…ë¥˜ë³„ ê°œìˆ˜ê°€ ë“¤ì–´ê°
    type_list = [] # ì„ ë°•ì¢…ë¥˜ë³„ ê³ ìœ ê°’ì´ ë“¤ì–´ê°
    
    for ship_type in finding_waiting_df['SHIP_TYPE'].unique():
        type_list.append(ship_type) # í˜„ì‹œì ì˜ ëŒ€ê¸°ì¤‘ì¸ ì„ ë°•ì˜ ì¢…ë¥˜ë¥¼ êµ¬í•¨

        finding_waiting_df_type = finding_waiting_df[finding_waiting_df['SHIP_TYPE'] == ship_type]
        ship_list.append(len(finding_waiting_df_type)) # ì„ ë°• ì¢…ë¥˜ë³„ë¡œ ëŒ€ê¸°ì¤‘ì¸ ì„ ë°•ì˜ ê°œìˆ˜ë¥¼ êµ¬í•¨

    # total ì¶”ê°€
    type_list.append('Total') 
    ship_list.append(np.sum(ship_list))
    wait_result_df = pd.DataFrame(data={'SHIP_TYPE': type_list , 'ëŒ€ê¸°ì„ ë°• ëŒ€ìˆ˜': ship_list})

    
################# ì‘ì—…ì„ ë°• ì°¾ê¸°
    finding_working_df = target_port_df[(target_port_df['ATB_DT'] < target_time) & (target_port_df['ATD_DT'] > target_time)]

    ship_list=[] # ì„ ë°•ì¢…ë¥˜ë³„ ê°œìˆ˜ê°€ ë“¤ì–´ê°
    type_list = [] # ì„ ë°•ì¢…ë¥˜ë³„ ê³ ìœ ê°’ì´ ë“¤ì–´ê°
    
    for ship_type in finding_working_df['SHIP_TYPE'].unique():
        type_list.append(ship_type) # í˜„ì‹œì ì˜ ì‘ì—…ì¤‘ì¸ ì„ ë°•ì˜ ì¢…ë¥˜ë¥¼ êµ¬í•¨

        finding_working_df_type = finding_working_df[finding_working_df['SHIP_TYPE'] == ship_type]
        ship_list.append(len(finding_working_df_type)) # ì„ ë°• ì¢…ë¥˜ë³„ë¡œ ì‘ì—…ì¤‘ì¸ ì„ ë°•ì˜ ê°œìˆ˜ë¥¼ êµ¬í•¨

    # total ì¶”ê°€
    type_list.append('Total') 
    ship_list.append(np.sum(ship_list))
    work_result_df = pd.DataFrame(data={'SHIP_TYPE': type_list , 'ì‘ì—…ì„ ë°• ëŒ€ìˆ˜': ship_list})

    s = float(working_vessel_cnt_mean_improve[working_vessel_cnt_mean_improve['PORT_CD'] == port_name]['vessel_cnt'])
    rest = ship_list[-1] - s

    if rest > 0:
        comment = f'í‰ê· ë³´ë‹¤ {rest:.0f}ëŒ€ ë§ì€ ì„ ë°•ì´ ì‘ì—…í•˜ê³  ìˆìŠµë‹ˆë‹¤.'
    elif rest == 0:
        comment = f'í‰ê· {rest:.0f}ê³¼ ê°™ì€ ìˆ˜ì˜ ì„ ë°•ì´ ì‘ì—…í•˜ê³  ìˆìŠµë‹ˆë‹¤.'
    else:
        comment = f'í‰ê· ë³´ë‹¤ {abs(rest):.0f}ëŒ€ ì ì€ ì„ ë°•ì´ ì‘ì—…í•˜ê³  ìˆìŠµë‹ˆë‹¤.'
    
    print('ì‹¤ì‹œê°„ í•­êµ¬ í˜„í™©ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.')
    return wait_result_df, work_result_df, comment

In [122]:
def port_congestion_index(port, date):
    target_port = port_waiting_df_improve[port_waiting_df_improve['PORT_CD'] == port]
    
    # start_time: ì „ë‹¬ë°›ì€ dateë¡œë¶€í„° 24ì‹œê°„ ì „
    start_time = pd.to_datetime(date) - pd.Timedelta(days=1)
    
    # dateë¡œë¶€í„° ì§€ë‚œ 24ì‹œê°„ ë™ì•ˆ ì…í•­í•œ(=ATA_DT) ì„ ë°•ë“¤ ì¶”ì¶œ
    lambda_df = target_port[(target_port['ATA_DT'] <= pd.to_datetime(date)) & (target_port['ATA_DT'] >= start_time)]    
    # dateë¡œë¶€í„° ì§€ë‚œ 24ì‹œê°„ ë™ì•ˆ ì‘ì—…ì„ ë§ˆì¹œ(=ATD_DT) ì„ ë°• ì¶”ì¶œ
    mu_df = target_port[(target_port['ATD_DT'] <= pd.to_datetime(date)) & (target_port['ATD_DT'] >= start_time)]

    # ì‘ì—…ì¤‘ì¸ ì„ ë°•ì˜ ëŒ€ìˆ˜ê°€ 0ëŒ€ì¼ ë•Œ (í•­êµ¬ shutdown) ë°˜í™˜ê°’
    if len(mu_df) == 0:
        print(f'ì§€ë‚œ 24ì‹œê°„ ê¸°ì¤€ í•­êµ¬ì˜ í˜¼ì¡ë„ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.')
        print()
        return print('í˜¼ì¡ë„ ë°˜í™˜ ë¶ˆê°€!ğŸ™', '\nì‚¬ìœ : ì‘ì—…ì¤‘ì´ì—ˆë˜ ì„ ë°•ì´ ì—†ìŠµë‹ˆë‹¤.')
        
    else:
        # Lambda: ì„ ë°• arrival rate
        Lambda = round(len(lambda_df)/24, 2)

        # Mu: ì‘ì—… rate (Mu_invers: í‰ê·  ì‘ì—…ì‹œê°„)
        Mu_pre = mu_df['working_time'].mean() 
        hour = int(str(Mu_pre).split(' ')[2].split(':')[0]) # ì˜ˆ) '0 days 10:11:27.833333333' ì—ì„œ 10ì„ ì¶”ì¶œ
        minutes = round(int(str(Mu_pre).split(' ')[2].split(':')[1])/60, 2) # 11ë¶„ì—ì„œ 60ìœ¼ë¡œ ë‚˜ëˆ”
        Mu_inverse = hour + minutes # ì‹œê°„ ë‹¨ìœ„ë¡œ ì¶”ì¶œ

        # s: í•­êµ¬ë³„ í‰ê·  ì„ ë°• ìˆ˜ìš©ëŸ‰
        s = float(working_vessel_cnt_mean_improve[working_vessel_cnt_mean_improve['PORT_CD'] == port]['vessel_cnt'])

        # roh: í•­êµ¬ utilization rate (í•­êµ¬ì‘ì—…íš¨ìœ¨)
        roh = np.round((Lambda*Mu_inverse)/s, 2)

        Mu = 1/Mu_inverse

        # rohê°’ì— ë”°ë¥¸ ê²°ê³¼ê°’ ë°˜í™˜
        print(f'ì§€ë‚œ 24ì‹œê°„ ê¸°ì¤€ í•­êµ¬ì˜ í˜¼ì¡ë„ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.')
        print()
        if roh < 0.25:
            return print('í˜¼ì¡ë„: ë§¤ìš°ì—¬ìœ ','\n' 'ì‘ì—…íš¨ìœ¨:',roh, '| ' 'í‰ê·  ì‘ì—…ì‹œê°„:', Mu_pre.round(freq='s'))
        elif 0.25 <= roh < 0.75:
            return print('í˜¼ì¡ë„: ì—¬ìœ ','\n' 'ì‘ì—…íš¨ìœ¨:',roh, '| ' 'í‰ê·  ì‘ì—…ì‹œê°„:', Mu_pre.round(freq='s'))
        elif 0.75 <= roh < 1.25:
            return print('í˜¼ì¡ë„: ë³´í†µ','\n' 'ì‘ì—…íš¨ìœ¨:',roh, '| ' 'í‰ê·  ì‘ì—…ì‹œê°„:', Mu_pre.round(freq='s'))
        elif 1.25 <= roh < 1.75:
            return print('í˜¼ì¡ë„: í˜¼ì¡','\n' 'ì‘ì—…íš¨ìœ¨:',roh, '| ' 'í‰ê·  ì‘ì—…ì‹œê°„:', Mu_pre.round(freq='s'))
        else:
            return print('í˜¼ì¡ë„: ë§¤ìš°í˜¼ì¡','\n' 'ì‘ì—…íš¨ìœ¨:',roh, '| ' 'í‰ê·  ì‘ì—…ì‹œê°„:', Mu_pre.round(freq='s'))

In [123]:
port = 'KRPUS'
datetime = '2023-08-09 22:00:05'
port_congestion_index(port, datetime)
print()
df1, df2, comment = show_me_the_vessel_count(port, datetime)
display(df1, df2)
print(comment)

ì§€ë‚œ 24ì‹œê°„ ê¸°ì¤€ í•­êµ¬ì˜ í˜¼ì¡ë„ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

í˜¼ì¡ë„ ë°˜í™˜ ë¶ˆê°€!ğŸ™
ì‚¬ìœ : ì‘ì—…ì¤‘ì´ì—ˆë˜ ì„ ë°•ì´ ì—†ìŠµë‹ˆë‹¤.

ì‹¤ì‹œê°„ í•­êµ¬ í˜„í™©ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

  SHIP_TYPE  ëŒ€ê¸°ì„ ë°• ëŒ€ìˆ˜
0     Total      0.0

  SHIP_TYPE  ì‘ì—…ì„ ë°• ëŒ€ìˆ˜
0     Total      0.0

í‰ê· ë³´ë‹¤ 17ëŒ€ ì ì€ ì„ ë°•ì´ ì‘ì—…í•˜ê³  ìˆìŠµë‹ˆë‹¤.

In [124]:
port = 'HKHKG'
datetime = '2023-04-17 22:30:05'
port_congestion_index(port, datetime)
print()
df1, df2, comment = show_me_the_vessel_count(port, datetime)
display(df1, df2)
print(comment)

ì§€ë‚œ 24ì‹œê°„ ê¸°ì¤€ í•­êµ¬ì˜ í˜¼ì¡ë„ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

í˜¼ì¡ë„: ë³´í†µ
ì‘ì—…íš¨ìœ¨: 1.1 | í‰ê·  ì‘ì—…ì‹œê°„: 0 days 11:46:18

ì‹¤ì‹œê°„ í•­êµ¬ í˜„í™©ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

       SHIP_TYPE  ëŒ€ê¸°ì„ ë°• ëŒ€ìˆ˜
0      CONTAINER        6
1  GENERAL_CARGO       16
2        UNKNOWN        4
3          Total       26

       SHIP_TYPE  ì‘ì—…ì„ ë°• ëŒ€ìˆ˜
0      CONTAINER        9
1  GENERAL_CARGO       12
2        UNKNOWN        4
3          Total       25

í‰ê· ë³´ë‹¤ 13ëŒ€ ì ì€ ì„ ë°•ì´ ì‘ì—…í•˜ê³  ìˆìŠµë‹ˆë‹¤.

In [125]:
port = 'JPOSA'
datetime = '2024-04-17 22:30:05'
port_congestion_index(port, datetime)
print()
df1, df2, comment = show_me_the_vessel_count(port, datetime)
display(df1, df2)
print(comment)

ì§€ë‚œ 24ì‹œê°„ ê¸°ì¤€ í•­êµ¬ì˜ í˜¼ì¡ë„ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

í˜¼ì¡ë„ ë°˜í™˜ ë¶ˆê°€!ğŸ™
ì‚¬ìœ : ì‘ì—…ì¤‘ì´ì—ˆë˜ ì„ ë°•ì´ ì—†ìŠµë‹ˆë‹¤.

ì‹¤ì‹œê°„ í•­êµ¬ í˜„í™©ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

  SHIP_TYPE  ëŒ€ê¸°ì„ ë°• ëŒ€ìˆ˜
0     Total      0.0

  SHIP_TYPE  ì‘ì—…ì„ ë°• ëŒ€ìˆ˜
0     Total      0.0

í‰ê· ë³´ë‹¤ 4ëŒ€ ì ì€ ì„ ë°•ì´ ì‘ì—…í•˜ê³  ìˆìŠµë‹ˆë‹¤.

In [12]:
port_waiting_df_improve.to_pickle('port_waiting_df_improve.pkl')

# ë°ì´í„° ë³µì‚¬ ë° 7ê°œì›” ë”í•˜ê¸°(ata, atb, atd)

In [110]:
port_waiting_df_improve

,PORT_CD,VSL_ID,ATA_DT,ATB_DT,ATD_DT,SHIP_TYPE,working_time
0,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-03-07 06:50:02,2023-03-07 09:54:33,2023-03-07 20:35:24,CONTAINER,0 days 10:40:51
1,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-04-01 06:36:33,2023-04-01 09:37:49,2023-04-02 03:45:09,CONTAINER,0 days 18:07:20
2,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-05-27 09:15:54,2023-05-27 11:57:40,2023-05-28 03:05:05,CONTAINER,0 days 15:07:25
3,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-07-06 19:35:03,2023-07-06 22:35:01,2023-07-07 19:55:03,CONTAINER,0 days 21:20:02
4,JPTYO,006f1ec5-89e2-3026-b377-6a5d5563eb9a,2023-03-25 03:15:10,2023-03-25 05:55:03,2023-03-25 20:55:06,CONTAINER,0 days 15:00:03
...,...,...,...,...,...,...,...
53366,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2023-09-02 06:45:03,2023-09-02 07:12:35,2023-09-03 10:35:22,GENERAL_TANKER,1 days 03:22:47
53367,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2023-09-18 11:15:45,2023-09-18 12:38:51,2023-09-18 18:35:04,GENERAL_TANKER,0 days 05:56:13
53368,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2023-09-22 22:15:12,2023-09-22 22:25:19,2023-09-23 08:15:14,GENERAL_TANKER,0 days 09:49:55
53369,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2023-09-24 14:15:22,2023-09-24 14:48:47,2023-09-24 21:05:03,GENERAL_TANKER,0 days 06:16:16
53370,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2023-09-26 10:27:48,2023-09-26 12:54:21,2023-09-28 05:35:17,GENERAL_TANKER,1 days 16:40:56

In [95]:
port_waiting_df_improve_2 = port_waiting_df_improve.copy()

In [97]:
port_waiting_df_improve_2['ATA_DT'] = port_waiting_df_improve['ATA_DT'] + pd.Timedelta(weeks=30)
port_waiting_df_improve_2['ATD_DT'] = port_waiting_df_improve['ATD_DT'] + pd.Timedelta(weeks=30)
port_waiting_df_improve_2['ATB_DT'] = port_waiting_df_improve['ATB_DT'] + pd.Timedelta(weeks=30)

In [101]:
print(" ATA_DT ìµœì†Œ:",port_waiting_df_improve_2['ATA_DT'].max())
print(" ATD_DT ìµœëŒ€:",port_waiting_df_improve_2['ATD_DT'].max())

 ATA_DT ìµœì†Œ: 2024-04-27 22:35:32
 ATD_DT ìµœëŒ€: 2024-05-24 02:56:15

In [127]:
port_waiting_df_improve_plus = pd.concat([port_waiting_df_improve, port_waiting_df_improve_2], ignore_index=True)

In [128]:
port_waiting_df_improve_plus.to_pickle('port_waiting_df_improve_plus.pkl')

In [129]:
# ì‘ì—…ê³¼ ëŒ€ê¸° ì¤‘ì¸ ì„ ë°•ì€ ë”°ë¡œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ 
def show_me_the_vessel_count(port_name, date):
    # ì „ë‹¬ë°›ì€ port: ë°ì´í„°í”„ë ˆì„ ìƒì„±
    target_port_df = port_waiting_df_improve_plus[port_waiting_df_improve_plus['PORT_CD']==port_name]
    
    # ì „ë‹¬ë°›ì€ date: string to datetime type ë³€í™˜
    target_time = pd.to_datetime(date)

    # 
    finding_waiting_df = target_port_df[(target_port_df['ATA_DT'] < target_time) & (target_port_df['ATB_DT'] > target_time)]

    ship_list=[] # ì„ ë°•ì¢…ë¥˜ë³„ ê°œìˆ˜ê°€ ë“¤ì–´ê°
    type_list = [] # ì„ ë°•ì¢…ë¥˜ë³„ ê³ ìœ ê°’ì´ ë“¤ì–´ê°
    
    for ship_type in finding_waiting_df['SHIP_TYPE'].unique():
        type_list.append(ship_type) # í˜„ì‹œì ì˜ ëŒ€ê¸°ì¤‘ì¸ ì„ ë°•ì˜ ì¢…ë¥˜ë¥¼ êµ¬í•¨

        finding_waiting_df_type = finding_waiting_df[finding_waiting_df['SHIP_TYPE'] == ship_type]
        ship_list.append(len(finding_waiting_df_type)) # ì„ ë°• ì¢…ë¥˜ë³„ë¡œ ëŒ€ê¸°ì¤‘ì¸ ì„ ë°•ì˜ ê°œìˆ˜ë¥¼ êµ¬í•¨

    # total ì¶”ê°€
    type_list.append('Total') 
    ship_list.append(np.sum(ship_list))
    wait_result_df = pd.DataFrame(data={'SHIP_TYPE': type_list , 'ëŒ€ê¸°ì„ ë°• ëŒ€ìˆ˜': ship_list})

    
################# ì‘ì—…ì„ ë°• ì°¾ê¸°
    finding_working_df = target_port_df[(target_port_df['ATB_DT'] < target_time) & (target_port_df['ATD_DT'] > target_time)]

    ship_list=[] # ì„ ë°•ì¢…ë¥˜ë³„ ê°œìˆ˜ê°€ ë“¤ì–´ê°
    type_list = [] # ì„ ë°•ì¢…ë¥˜ë³„ ê³ ìœ ê°’ì´ ë“¤ì–´ê°
    
    for ship_type in finding_working_df['SHIP_TYPE'].unique():
        type_list.append(ship_type) # í˜„ì‹œì ì˜ ì‘ì—…ì¤‘ì¸ ì„ ë°•ì˜ ì¢…ë¥˜ë¥¼ êµ¬í•¨

        finding_working_df_type = finding_working_df[finding_working_df['SHIP_TYPE'] == ship_type]
        ship_list.append(len(finding_working_df_type)) # ì„ ë°• ì¢…ë¥˜ë³„ë¡œ ì‘ì—…ì¤‘ì¸ ì„ ë°•ì˜ ê°œìˆ˜ë¥¼ êµ¬í•¨

    # total ì¶”ê°€
    type_list.append('Total') 
    ship_list.append(np.sum(ship_list))
    work_result_df = pd.DataFrame(data={'SHIP_TYPE': type_list , 'ì‘ì—…ì„ ë°• ëŒ€ìˆ˜': ship_list})

    s = float(working_vessel_cnt_mean_improve[working_vessel_cnt_mean_improve['PORT_CD'] == port_name]['vessel_cnt'])
    rest = ship_list[-1] - s

    if rest > 0:
        comment = f'í‰ê· ë³´ë‹¤ {rest:.0f}ëŒ€ ë§ì€ ì„ ë°•ì´ ì‘ì—…í•˜ê³  ìˆìŠµë‹ˆë‹¤.'
    elif rest == 0:
        comment = f'í‰ê· {rest:.0f}ê³¼ ê°™ì€ ìˆ˜ì˜ ì„ ë°•ì´ ì‘ì—…í•˜ê³  ìˆìŠµë‹ˆë‹¤.'
    else:
        comment = f'í‰ê· ë³´ë‹¤ {abs(rest):.0f}ëŒ€ ì ì€ ì„ ë°•ì´ ì‘ì—…í•˜ê³  ìˆìŠµë‹ˆë‹¤.'
    
    print('ì‹¤ì‹œê°„ í•­êµ¬ í˜„í™©ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.')
    return wait_result_df, work_result_df, comment

In [130]:
def port_congestion_index(port, date):
    target_port = port_waiting_df_improve_plus[port_waiting_df_improve_plus['PORT_CD'] == port]
    
    # start_time: ì „ë‹¬ë°›ì€ dateë¡œë¶€í„° 24ì‹œê°„ ì „
    start_time = pd.to_datetime(date) - pd.Timedelta(days=1)
    
    # dateë¡œë¶€í„° ì§€ë‚œ 24ì‹œê°„ ë™ì•ˆ ì…í•­í•œ(=ATA_DT) ì„ ë°•ë“¤ ì¶”ì¶œ
    lambda_df = target_port[(target_port['ATA_DT'] <= pd.to_datetime(date)) & (target_port['ATA_DT'] >= start_time)]    
    # dateë¡œë¶€í„° ì§€ë‚œ 24ì‹œê°„ ë™ì•ˆ ì‘ì—…ì„ ë§ˆì¹œ(=ATD_DT) ì„ ë°• ì¶”ì¶œ
    mu_df = target_port[(target_port['ATD_DT'] <= pd.to_datetime(date)) & (target_port['ATD_DT'] >= start_time)]

    # ì‘ì—…ì¤‘ì¸ ì„ ë°•ì˜ ëŒ€ìˆ˜ê°€ 0ëŒ€ì¼ ë•Œ (í•­êµ¬ shutdown) ë°˜í™˜ê°’
    if len(mu_df) == 0:
        print(f'ì§€ë‚œ 24ì‹œê°„ ê¸°ì¤€ í•­êµ¬ì˜ í˜¼ì¡ë„ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.')
        print()
        return print('í˜¼ì¡ë„ ë°˜í™˜ ë¶ˆê°€!ğŸ™', '\nì‚¬ìœ : ì‘ì—…ì¤‘ì´ì—ˆë˜ ì„ ë°•ì´ ì—†ìŠµë‹ˆë‹¤.')
        
    else:
        # Lambda: ì„ ë°• arrival rate
        Lambda = round(len(lambda_df)/24, 2)

        # Mu: ì‘ì—… rate (Mu_invers: í‰ê·  ì‘ì—…ì‹œê°„)
        Mu_pre = mu_df['working_time'].mean() 
        hour = int(str(Mu_pre).split(' ')[2].split(':')[0]) # ì˜ˆ) '0 days 10:11:27.833333333' ì—ì„œ 10ì„ ì¶”ì¶œ
        minutes = round(int(str(Mu_pre).split(' ')[2].split(':')[1])/60, 2) # 11ë¶„ì—ì„œ 60ìœ¼ë¡œ ë‚˜ëˆ”
        Mu_inverse = hour + minutes # ì‹œê°„ ë‹¨ìœ„ë¡œ ì¶”ì¶œ

        # s: í•­êµ¬ë³„ í‰ê·  ì„ ë°• ìˆ˜ìš©ëŸ‰
        s = float(working_vessel_cnt_mean_improve[working_vessel_cnt_mean_improve['PORT_CD'] == port]['vessel_cnt'])

        # roh: í•­êµ¬ utilization rate (í•­êµ¬ì‘ì—…íš¨ìœ¨)
        roh = np.round((Lambda*Mu_inverse)/s, 2)

        Mu = 1/Mu_inverse

        # rohê°’ì— ë”°ë¥¸ ê²°ê³¼ê°’ ë°˜í™˜
        print(f'ì§€ë‚œ 24ì‹œê°„ ê¸°ì¤€ í•­êµ¬ì˜ í˜¼ì¡ë„ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.')
        print()
        if roh < 0.25:
            return print('í˜¼ì¡ë„: ë§¤ìš°ì—¬ìœ ','\n' 'ì‘ì—…íš¨ìœ¨:',roh, '| ' 'í‰ê·  ì‘ì—…ì‹œê°„:', Mu_pre.round(freq='s'))
        elif 0.25 <= roh < 0.75:
            return print('í˜¼ì¡ë„: ì—¬ìœ ','\n' 'ì‘ì—…íš¨ìœ¨:',roh, '| ' 'í‰ê·  ì‘ì—…ì‹œê°„:', Mu_pre.round(freq='s'))
        elif 0.75 <= roh < 1.25:
            return print('í˜¼ì¡ë„: ë³´í†µ','\n' 'ì‘ì—…íš¨ìœ¨:',roh, '| ' 'í‰ê·  ì‘ì—…ì‹œê°„:', Mu_pre.round(freq='s'))
        elif 1.25 <= roh < 1.75:
            return print('í˜¼ì¡ë„: í˜¼ì¡','\n' 'ì‘ì—…íš¨ìœ¨:',roh, '| ' 'í‰ê·  ì‘ì—…ì‹œê°„:', Mu_pre.round(freq='s'))
        else:
            return print('í˜¼ì¡ë„: ë§¤ìš°í˜¼ì¡','\n' 'ì‘ì—…íš¨ìœ¨:',roh, '| ' 'í‰ê·  ì‘ì—…ì‹œê°„:', Mu_pre.round(freq='s'))

In [134]:
port = 'KRPUS'
datetime = '2023-12-09 22:00:05'
port_congestion_index(port, datetime)
print()
df1, df2, comment = show_me_the_vessel_count(port, datetime)
display(df1, df2)
print(comment)

ì§€ë‚œ 24ì‹œê°„ ê¸°ì¤€ í•­êµ¬ì˜ í˜¼ì¡ë„ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

í˜¼ì¡ë„: ë³´í†µ
ì‘ì—…íš¨ìœ¨: 1.04 | í‰ê·  ì‘ì—…ì‹œê°„: 0 days 15:32:49

ì‹¤ì‹œê°„ í•­êµ¬ í˜„í™©ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

        SHIP_TYPE  ëŒ€ê¸°ì„ ë°• ëŒ€ìˆ˜
0  TANKER_PRODUCT        1
1           Total        1

           SHIP_TYPE  ì‘ì—…ì„ ë°• ëŒ€ìˆ˜
0          CONTAINER       13
1            UNKNOWN        2
2      GENERAL_CARGO        4
3   ROLL_ON_ROLL_OFF        1
4  VEHICLE_PASSENGER        1
5              Total       21

í‰ê· ë³´ë‹¤ 4ëŒ€ ë§ì€ ì„ ë°•ì´ ì‘ì—…í•˜ê³  ìˆìŠµë‹ˆë‹¤.

In [136]:
port = 'HKHKG'
datetime = '2024-04-17 22:30:05'
port_congestion_index(port, datetime)
print()
df1, df2, comment = show_me_the_vessel_count(port, datetime)
display(df1, df2)
print(comment)

ì§€ë‚œ 24ì‹œê°„ ê¸°ì¤€ í•­êµ¬ì˜ í˜¼ì¡ë„ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

í˜¼ì¡ë„: ë³´í†µ
ì‘ì—…íš¨ìœ¨: 1.09 | í‰ê·  ì‘ì—…ì‹œê°„: 0 days 08:23:18

ì‹¤ì‹œê°„ í•­êµ¬ í˜„í™©ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

       SHIP_TYPE  ëŒ€ê¸°ì„ ë°• ëŒ€ìˆ˜
0      CONTAINER        6
1  GENERAL_CARGO       21
2        UNKNOWN        2
3          Total       29

       SHIP_TYPE  ì‘ì—…ì„ ë°• ëŒ€ìˆ˜
0      CONTAINER       14
1  GENERAL_CARGO       26
2        UNKNOWN        2
3          Total       42

í‰ê· ë³´ë‹¤ 4ëŒ€ ë§ì€ ì„ ë°•ì´ ì‘ì—…í•˜ê³  ìˆìŠµë‹ˆë‹¤.

In [137]:
port = 'JPOSA'
datetime = '2024-01-01 22:30:05'
port_congestion_index(port, datetime)
print()
df1, df2, comment = show_me_the_vessel_count(port, datetime)
display(df1, df2)
print(comment)

ì§€ë‚œ 24ì‹œê°„ ê¸°ì¤€ í•­êµ¬ì˜ í˜¼ì¡ë„ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

í˜¼ì¡ë„: í˜¼ì¡
ì‘ì—…íš¨ìœ¨: 1.53 | í‰ê·  ì‘ì—…ì‹œê°„: 0 days 09:52:17

ì‹¤ì‹œê°„ í•­êµ¬ í˜„í™©ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

   SHIP_TYPE  ëŒ€ê¸°ì„ ë°• ëŒ€ìˆ˜
0  CONTAINER        5
1      Total        5

   SHIP_TYPE  ì‘ì—…ì„ ë°• ëŒ€ìˆ˜
0  CONTAINER        3
1      Total        3

í‰ê· ë³´ë‹¤ 1ëŒ€ ì ì€ ì„ ë°•ì´ ì‘ì—…í•˜ê³  ìˆìŠµë‹ˆë‹¤.

In [7]:
port_waiting_df_improve_plus_test = port_waiting_df_improve_plus.copy()
port_waiting_df_improve_plus_test = port_waiting_df_improve_plus_test.drop('working_time', axis=1)

In [9]:
port_waiting_df_improve_plus_test

,PORT_CD,VSL_ID,ATA_DT,ATB_DT,ATD_DT,SHIP_TYPE
0,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-03-07 06:50:02,2023-03-07 09:54:33,2023-03-07 20:35:24,CONTAINER
1,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-04-01 06:36:33,2023-04-01 09:37:49,2023-04-02 03:45:09,CONTAINER
2,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-05-27 09:15:54,2023-05-27 11:57:40,2023-05-28 03:05:05,CONTAINER
3,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-07-06 19:35:03,2023-07-06 22:35:01,2023-07-07 19:55:03,CONTAINER
4,JPTYO,006f1ec5-89e2-3026-b377-6a5d5563eb9a,2023-03-25 03:15:10,2023-03-25 05:55:03,2023-03-25 20:55:06,CONTAINER
...,...,...,...,...,...,...
106737,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-03-30 06:45:03,2024-03-30 07:12:35,2024-03-31 10:35:22,GENERAL_TANKER
106738,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-15 11:15:45,2024-04-15 12:38:51,2024-04-15 18:35:04,GENERAL_TANKER
106739,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-19 22:15:12,2024-04-19 22:25:19,2024-04-20 08:15:14,GENERAL_TANKER
106740,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-21 14:15:22,2024-04-21 14:48:47,2024-04-21 21:05:03,GENERAL_TANKER
106741,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-23 10:27:48,2024-04-23 12:54:21,2024-04-25 05:35:17,GENERAL_TANKER

# ë°ì´í„° csv

In [17]:
df = pd.read_pickle('port_waiting_df_improve_plus.pkl')
df ## ì „ì²˜ë¦¬ ê°œì„  + ê¸°ê°„ì—°ì¥

,PORT_CD,VSL_ID,ATA_DT,ATB_DT,ATD_DT,SHIP_TYPE,working_time
0,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-03-07 06:50:02,2023-03-07 09:54:33,2023-03-07 20:35:24,CONTAINER,0 days 10:40:51
1,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-04-01 06:36:33,2023-04-01 09:37:49,2023-04-02 03:45:09,CONTAINER,0 days 18:07:20
2,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-05-27 09:15:54,2023-05-27 11:57:40,2023-05-28 03:05:05,CONTAINER,0 days 15:07:25
3,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-07-06 19:35:03,2023-07-06 22:35:01,2023-07-07 19:55:03,CONTAINER,0 days 21:20:02
4,JPTYO,006f1ec5-89e2-3026-b377-6a5d5563eb9a,2023-03-25 03:15:10,2023-03-25 05:55:03,2023-03-25 20:55:06,CONTAINER,0 days 15:00:03
...,...,...,...,...,...,...,...
106737,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-03-30 06:45:03,2024-03-30 07:12:35,2024-03-31 10:35:22,GENERAL_TANKER,1 days 03:22:47
106738,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-15 11:15:45,2024-04-15 12:38:51,2024-04-15 18:35:04,GENERAL_TANKER,0 days 05:56:13
106739,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-19 22:15:12,2024-04-19 22:25:19,2024-04-20 08:15:14,GENERAL_TANKER,0 days 09:49:55
106740,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-21 14:15:22,2024-04-21 14:48:47,2024-04-21 21:05:03,GENERAL_TANKER,0 days 06:16:16
106741,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-23 10:27:48,2024-04-23 12:54:21,2024-04-25 05:35:17,GENERAL_TANKER,1 days 16:40:56

In [18]:
df = df.drop('working_time', axis=1)
df ## ì˜¤ë¼í´ì—ì„œ ì“¸ ìˆ˜ ì—†ëŠ” íƒ€ì„ë¸íƒ€ íƒ€ì…ì¸ working_time ì»¬ëŸ¼ ë“œë

,PORT_CD,VSL_ID,ATA_DT,ATB_DT,ATD_DT,SHIP_TYPE
0,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-03-07 06:50:02,2023-03-07 09:54:33,2023-03-07 20:35:24,CONTAINER
1,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-04-01 06:36:33,2023-04-01 09:37:49,2023-04-02 03:45:09,CONTAINER
2,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-05-27 09:15:54,2023-05-27 11:57:40,2023-05-28 03:05:05,CONTAINER
3,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-07-06 19:35:03,2023-07-06 22:35:01,2023-07-07 19:55:03,CONTAINER
4,JPTYO,006f1ec5-89e2-3026-b377-6a5d5563eb9a,2023-03-25 03:15:10,2023-03-25 05:55:03,2023-03-25 20:55:06,CONTAINER
...,...,...,...,...,...,...
106737,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-03-30 06:45:03,2024-03-30 07:12:35,2024-03-31 10:35:22,GENERAL_TANKER
106738,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-15 11:15:45,2024-04-15 12:38:51,2024-04-15 18:35:04,GENERAL_TANKER
106739,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-19 22:15:12,2024-04-19 22:25:19,2024-04-20 08:15:14,GENERAL_TANKER
106740,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-21 14:15:22,2024-04-21 14:48:47,2024-04-21 21:05:03,GENERAL_TANKER
106741,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-23 10:27:48,2024-04-23 12:54:21,2024-04-25 05:35:17,GENERAL_TANKER

In [20]:
df.to_csv('port_waiting_df_improve_plus.csv', index=True) ## csvë¡œ ë³€í™˜ + index ì»¬ëŸ¼ ìƒì„±

In [21]:
df1 = pd.read_csv('port_waiting_df_improve_plus.csv') 
df1

,Unnamed: 0,PORT_CD,VSL_ID,ATA_DT,ATB_DT,ATD_DT,SHIP_TYPE
0,0,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-03-07 06:50:02,2023-03-07 09:54:33,2023-03-07 20:35:24,CONTAINER
1,1,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-04-01 06:36:33,2023-04-01 09:37:49,2023-04-02 03:45:09,CONTAINER
2,2,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-05-27 09:15:54,2023-05-27 11:57:40,2023-05-28 03:05:05,CONTAINER
3,3,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-07-06 19:35:03,2023-07-06 22:35:01,2023-07-07 19:55:03,CONTAINER
4,4,JPTYO,006f1ec5-89e2-3026-b377-6a5d5563eb9a,2023-03-25 03:15:10,2023-03-25 05:55:03,2023-03-25 20:55:06,CONTAINER
...,...,...,...,...,...,...,...
106737,106737,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-03-30 06:45:03,2024-03-30 07:12:35,2024-03-31 10:35:22,GENERAL_TANKER
106738,106738,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-15 11:15:45,2024-04-15 12:38:51,2024-04-15 18:35:04,GENERAL_TANKER
106739,106739,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-19 22:15:12,2024-04-19 22:25:19,2024-04-20 08:15:14,GENERAL_TANKER
106740,106740,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-21 14:15:22,2024-04-21 14:48:47,2024-04-21 21:05:03,GENERAL_TANKER
106741,106741,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-23 10:27:48,2024-04-23 12:54:21,2024-04-25 05:35:17,GENERAL_TANKER

In [22]:
df1 = df1.rename(columns={'Unnamed: 0': 'seq'}) # ì»¬ëŸ¼ëª…ì€ seqë¡œ ë³€í™˜
df1

,seq,PORT_CD,VSL_ID,ATA_DT,ATB_DT,ATD_DT,SHIP_TYPE
0,0,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-03-07 06:50:02,2023-03-07 09:54:33,2023-03-07 20:35:24,CONTAINER
1,1,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-04-01 06:36:33,2023-04-01 09:37:49,2023-04-02 03:45:09,CONTAINER
2,2,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-05-27 09:15:54,2023-05-27 11:57:40,2023-05-28 03:05:05,CONTAINER
3,3,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-07-06 19:35:03,2023-07-06 22:35:01,2023-07-07 19:55:03,CONTAINER
4,4,JPTYO,006f1ec5-89e2-3026-b377-6a5d5563eb9a,2023-03-25 03:15:10,2023-03-25 05:55:03,2023-03-25 20:55:06,CONTAINER
...,...,...,...,...,...,...,...
106737,106737,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-03-30 06:45:03,2024-03-30 07:12:35,2024-03-31 10:35:22,GENERAL_TANKER
106738,106738,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-15 11:15:45,2024-04-15 12:38:51,2024-04-15 18:35:04,GENERAL_TANKER
106739,106739,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-19 22:15:12,2024-04-19 22:25:19,2024-04-20 08:15:14,GENERAL_TANKER
106740,106740,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-21 14:15:22,2024-04-21 14:48:47,2024-04-21 21:05:03,GENERAL_TANKER
106741,106741,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-23 10:27:48,2024-04-23 12:54:21,2024-04-25 05:35:17,GENERAL_TANKER

In [23]:
df1['seq'] = df1['seq'] + 1
df1 # seq ì „ì²´ì— 1ì”© ë”í•¨

,seq,PORT_CD,VSL_ID,ATA_DT,ATB_DT,ATD_DT,SHIP_TYPE
0,1,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-03-07 06:50:02,2023-03-07 09:54:33,2023-03-07 20:35:24,CONTAINER
1,2,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-04-01 06:36:33,2023-04-01 09:37:49,2023-04-02 03:45:09,CONTAINER
2,3,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-05-27 09:15:54,2023-05-27 11:57:40,2023-05-28 03:05:05,CONTAINER
3,4,JPTYO,001942e3-a2f0-3632-9ac8-f09b66aba6ec,2023-07-06 19:35:03,2023-07-06 22:35:01,2023-07-07 19:55:03,CONTAINER
4,5,JPTYO,006f1ec5-89e2-3026-b377-6a5d5563eb9a,2023-03-25 03:15:10,2023-03-25 05:55:03,2023-03-25 20:55:06,CONTAINER
...,...,...,...,...,...,...,...
106737,106738,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-03-30 06:45:03,2024-03-30 07:12:35,2024-03-31 10:35:22,GENERAL_TANKER
106738,106739,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-15 11:15:45,2024-04-15 12:38:51,2024-04-15 18:35:04,GENERAL_TANKER
106739,106740,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-19 22:15:12,2024-04-19 22:25:19,2024-04-20 08:15:14,GENERAL_TANKER
106740,106741,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-21 14:15:22,2024-04-21 14:48:47,2024-04-21 21:05:03,GENERAL_TANKER
106741,106742,KRPUS,ddbc8df2-31b0-3bf9-93a8-0e59115bd17c,2024-04-23 10:27:48,2024-04-23 12:54:21,2024-04-25 05:35:17,GENERAL_TANKER

In [25]:
df1.to_csv('port_waiting_df_improve_plus.csv', index=False) # ë‹¤ì‹œ csvë¡œ ë³€í™˜